* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: Arial, sans-serif;
}
a {
   text-decoration: none;
   color: #336699;
}
.header {
   &__container {
      display: flex;
      flex-direction: column;
      gap: 3px;
   }

   &__up-block {
      display: flex;
      justify-content: space-between;
      align-items: center;
   }
   &__down-block {
      display: flex;
      justify-content: space-between;
      align-items: center;
   }
}
.container {
   max-width: 340px;
   margin: 0 auto;
   padding: 0 10px;
}
.hr-up-block {
   &__title {
      font-size: 28px;
      color: #336699;
      font-weight: 500;
      img {
         width: 23.14224405px;
         height: 30.72986505px;
      }
   }

   &__icon-box {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 5px;
      gap: 40px;
   }

   &__icon-star {
      display: flex;
      justify-content: center;
      align-items: center;
   }

   &__icon-plus {
      display: flex;
      justify-content: center;
      align-items: center;
   }

   &__icon-user {
      display: flex;
      justify-content: center;
      align-items: center;
   }
}
.hr-down-block {
   &__cub-box {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 3px;
   }
   &__cub-up {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 3px;
   }

   &__cub {
      width: 15px;
      height: 15px;
      background-color: #336699;
      border-radius: 3px;
      display: block;
   }

   &__cub-down {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 3px;
   }

   &__inp-box {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
   }

   &__input {
      width: 265px;
      outline: none;
      border: 1px solid #336699;
      border-radius: 7px;
      height: 25px;
      padding-left: 10px;
   }
}
#position {
   position: absolute;
   left: auto;
   right: 1px;
   top: 2.6px;
   color: #336699;
   font-size: 20px;
}
.about {
   &__container {
      margin-top: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 15px;
   }

   &__line {
      width: 100%;
      height: 1px;
      background-color: #0099ff;
   }

   &__title {
      font-size: 20px;
      color: #4d4d4d;
   }
   &__text {
      font-size: 16px;
      color: #4d4d4d;
   }
   &__ul {
      display: flex;
      justify-content: center;
      flex-direction: column;
      margin: 20px 0;
   }
}
.ul-box {
   gap: 20px;
   display: flex;
   justify-content: center;
   flex-direction: column;
   &__list::marker {
      color: #336699;
   }
}
.adver {
   &__container {
      margin-top: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 20px;
   }
   &__item {
      display: flex;
      justify-content: center;
      gap: 10px;
   }
}
.ad-item {
   cursor: pointer;
   border-radius: 7px;
   border: solid 2px #336699;
   padding:  2px 2px;
   background-color: rgb(255, 255, 196);
   &__left {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
   }

   &__left-img {
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      border-radius: 7px;
      width: 90.02255495px;
      height: 100.92151065001px;
   }

   &__left-data-text {
      font-size: 10px;
      color: #4d4d4d;
   }

   &__right {
      display: flex;
      justify-content: space-between;
      // align-items: center;
      flex-direction: column;
   }

   &__right-text {
      font-size: 16px;
      color: #336699;
   }

   &__right-content {
      display: flex;
      justify-content: space-between;
      align-items: center;
   }

   &__right-content-price {
      font-size: 14px;
      color: #4d4d4d;
   }

   &__right-content-icon-box {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 30px;
   }

   &__right-content-icon-box-phone {
      color: #4d4d4d;
   }

   &__right-content-icon-box-star {
      color: #4d4d4d;
   }
}
